.git/
.editorconfig
.gitingore
.gitlab-ci.yml
.gitattributes
vendor/
node_modules/
public/js/
public/css/
yarn-error.log
docker-compose.yml


_ide_helper.php
_ide_helper_models.php


.env
.phpunit.result.cache
.phpstorm.meta.php

public/vendor/
public/images/
public/sitemap\.xml

storage/framework/cache/**
storage/framework/sessions/**
storage/framework/views/**
storage/debugbar
storage/logs/laravel.log
bootstrap/cache/**