**/node_modules
**/README.md
**/.git
**/.gitignore
**/.next
**/.swc
#**/.env
#**/.env*
**/.fleet
**/.idea
**/LICENSE
**/VERSION
**/README.md
**/.DS_Store
**/.github
**/.vscode
**/.dockerignore
**/Dockerfile
kubernetes
