{
  "timeout": 10,
  "source": {
    "directories": [
      "app"
    ]
  },
  "logs": {
    "text": "infection.log",
    "summary": "summary.log",
    "perMutator": "per-mutator.md",
    "badge": {
      "branch": "master"
    }
  },
  "mutators": {
    "@default": true
  },
  "initialTestsPhpOptions": "-d zend_extension=xdebug.so",
  "testFrameworkOptions": "-vvv"
}