.menu-list a, .hero, .card {
  border-radius: 0.5rem
}

.album:hover {
  transform: translateY(-4px);
  box-shadow: 0 16px 35px 0 rgba(0, 0, 0, 0.27), 0 8px 20px 0 rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

p {
  overflow-wrap: break-word;
  hyphens: auto;
}

/* fluid 5 columns */
.grid-sizer,
.grid-item {
  width: 100%;
}

@media screen and (min-width: 768px) {
  /* 5 columns for larger screens */
  .grid-sizer,
  .grid-item {
    width: 50%;
  }
}

@media screen and (min-width: 1000px) {
  /* 5 columns for larger screens */
  .grid-sizer,
  .grid-item {
    width: 33.333%;
  }
}

/* 2 columns wide */
.grid-item--width2 {
  width: 40%;
}

.is-centered {
  margin: auto;
}

@mixin avatar($size) {
  width: $size;
  height: $size;
  background-color: grey;
  text-align: center;
  border-radius: 50%;

  .initials {
    position: relative;
    top: $size*0.25;
    font-size: $size*0.5;
    line-height: $size*0.5;
    color: #fff;
    font-weight: bold;
  }
}

.avatar-circle      { @include avatar(95px); }
.avatar-circle-sm   { @include avatar(50px); }
.avatar-circle-lg   { @include avatar(250px); }