.menu-list a, .hero, .card, .box {
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: unset;
}

.album {
  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 16px 35px 0 rgba(0, 0, 0, 0.27), 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
  }
}

.is-centered {
  margin: auto;
}

@mixin avatar($size) {
  width: $size;
  height: $size;
  background-color: grey;
  text-align: center;
  border-radius: 50%;

  .initials {
    position: relative;
    top: $size*0.25;
    font-size: $size*0.3;
    line-height: $size*0.5;
    color: #fff;
    font-weight: bold;
  }
}

.avatar-circle {
  @include avatar(64px);
}

.avatar-circle-sm {
  @include avatar(50px);
}

.avatar-circle-lg {
  @include avatar(250px);
}

.album-image img {
  image-rendering: optimizequality;
}

.admin-collapse-button {
  position: fixed;
  bottom: 42px;
  left: 10px;
  z-index: 5;
  visibility: hidden;
}

img {
  pointer-events: none !important;

  &:-moz-loading {
    visibility: hidden;
  }
}

@media screen and (min-width: 769px) {
  .admin-collapse-button {
    visibility: visible;
  }
}

.box {
    padding: unset;
}

.is-fitted img {
    object-fit: cover;
}
