/* Masonry grid */
.masonry {
  transition: all .5s ease-in-out;
  column-gap: 30px;
  column-fill: initial;
}

/* Masonry item */
.masonry .brick {
  margin-bottom: 30px;
  display: inline-block; /* Fix the misalignment of items */
  vertical-align: top; /* Keep the item on the very top */
}

/* Masonry image effects */
// Removed because "backface-visibility: hidden" will reduce fps
//.masonry .brick img {
//  transition: all .5s ease-in-out;
//  backface-visibility: hidden; /* Remove Image flickering on hover */
//}

/* Bordered masonry */
.masonry.bordered {
  column-rule: 1px solid #eee;
  column-gap: 50px;

  .brick {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #eee;

    &:hover img {
      opacity: .75;
    }
  }
}


/* Gutterless masonry */
.masonry.gutterless {
  column-gap: 0;

  .brick {
    margin-bottom: 0;
  }

  .brick.has-anchor {
    margin-bottom: -0.6rem;
  }
}

/* Masonry on tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .masonry {
    column-count: 2;
  }
}

/* Masonry on big screens */
@media only screen and (min-width: 1024px) {
  .masonry {
    column-count: 3;
  }
}