//https://github.com/jgthms/bulma/issues/860
//https://dev.to/claireparker/how-to-make-a-sticky-sidebar-with-two-lines-of-css-2ki7

.columns
  &.is-fullheight
    display: flex
    justify-content: space-between
    .column
      overflow-y: auto

//.is-main-content
//  background: $grey-lighter

// Correctif pour IE
.is-fullheight.columns
  height: calc(100vh - (#{$navbar-height} - .75rem))

@media screen and (min-width: $tablet)
  .is-sidebar-menu
    //background: $grey-lighter
    padding: 1.25rem
    max-height: calc(100vh - (#{$navbar-height} - .75rem))
    height: calc(100vh - (#{$navbar-height} - .75rem))
    max-width: 250px
    //top: (#{$navbar-height})
    position: -webkit-sticky
    position: sticky
  //li
  //  a
  //    color: $white
