.git/
.editorconfig
.gitignore
.gitlab-ci.yml
.gitattributes
_ide_helper.php
_ide_helper_models.php
.env
.env.production
.phpunit.result.cache
.phpstorm.meta.php
Dockerfile
.php_cs.cache
sitemap.xml
.dockerignore

/vendor/
/node_modules/
/yarn-error.log
/docker-compose.yml


/public/vendor/
/public/fonts/
/public/images/
/public/storage
/public/js/
/public/css/
/public/mix-manifest.json

/storage/framework/cache/**
/storage/framework/sessions/**
/storage/framework/views/**
/storage/debugbar
/storage/logs/*
/storage/medialibrary
/storage/app/public/*
/bootstrap/cache/**

/phpunit.xml
/infection.log
/per-mutator.md
/summary.log

additions:
'**' matches any number of directories (including zero)
'!' lines starting with ! (exclamation mark) can be used to make exceptions to exclusions
'#' lines starting with this character are ignored: use it for comments
