name: admin

on:
  push:
    paths:
      - "apps/admin/**"
      - "apps/common/**"
      - "libs/**"
      - "yarn.lock"
      - ".github/workflows/admin.yml"
    branches:
      - "**"
    tags:
      - "v*"
  pull_request:
    paths:
      - "apps/admin/**"
      - "apps/common/**"
      - "libs/**"
      - "yarn.lock"
      - ".github/workflows/admin.yml"

jobs:
  build:
    # runs-on: self-hosted
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Gitlab
        if: github.event_name != 'pull_request' && github.actor != 'dependabot[bot]'
        uses: docker/login-action@v2
        with:
          registry: registry.gitlab.com
          username: ${{ secrets.CI_REGISTRY_USER }}
          password: ${{ secrets.CI_REGISTRY_PASSWORD }}
      - name: Docker meta
        id: docker_meta
        uses: crazy-max/ghaction-docker-meta@v5
        with:
          images: registry.gitlab.com/flasher/flasher/flasher-admin-v2 # list of Docker images to use as base name for tags
          tag-semver: |
            {{version}}
            {{major}}.{{minor}}
      - name: Build and push base
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./apps/admin/Dockerfile
          push: ${{ github.event_name != 'pull_request' && github.actor != 'dependabot[bot]' }}
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}
          # push: true
          # tags: :latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
          # build-args: |
          #     "NEXT_PUBLIC_APP_URL=${{ secrets.NEXT_PUBLIC_APP_URL }}"
          #     "NEXT_PUBLIC_API_URL=${{ secrets.NEXT_PUBLIC_API_URL }}"
          #     "NEXT_PUBLIC_KEYCLOAK_REALM=${{ secrets.NEXT_PUBLIC_KEYCLOAK_REALM }}"
          #     "NEXT_PUBLIC_KEYCLOAK_URL=${{ secrets.NEXT_PUBLIC_KEYCLOAK_URL }}"
          #     "NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=${{ secrets.NEXT_PUBLIC_KEYCLOAK_CLIENT_ID }}"
          #     "NEXT_PUBLIC_ADMINISTRATION_URL=${{ secrets.NEXT_PUBLIC_ADMINISTRATION_URL }}"
          #     "NEXT_PUBLIC_ALGOLIA_APP_ID=${{ secrets.NEXT_PUBLIC_ALGOLIA_APP_ID }}"
          #     "NEXT_PUBLIC_ALGOLIA_API_KEY=${{ secrets.NEXT_PUBLIC_ALGOLIA_API_KEY }}"
          #     "NEXT_PUBLIC_GOOGLE_ANALYTICS_UA=${{ secrets.NEXT_PUBLIC_GOOGLE_ANALYTICS_UA }}"
