name: frontend

on:
  push:
    paths:
      - "apps/frontend/**"
      - "apps/common/**"
      - "libs/**"
      - "yarn.lock"
      - ".github/workflows/frontend.yml"
    branches:
      - "**"
    tags:
      - "v*"
  pull_request:
    paths:
      - "apps/frontend/**"
      - "apps/common/**"
      - "libs/**"
      - "yarn.lock"
      - ".github/workflows/frontend.yml"

jobs:
  build:
    runs-on: self-hosted
    # runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Gitlab
        if: github.event_name != 'pull_request' && github.actor != 'dependabot[bot]'
        uses: docker/login-action@v2
        with:
          registry: registry.gitlab.com
          username: ${{ secrets.CI_REGISTRY_USER }}
          password: ${{ secrets.CI_REGISTRY_PASSWORD }}
      - name: Docker meta
        id: docker_meta
        uses: crazy-max/ghaction-docker-meta@v1
        with:
          images: registry.gitlab.com/flasher/flasher/flasher-frontend # list of Docker images to use as base name for tags
          tag-semver: |
            {{version}}
            {{major}}.{{minor}}
      - name: Build and push base staging
        if: contains(github.ref, '-rc.')
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./apps/frontend/Dockerfile
          push: ${{ github.event_name != 'pull_request' && github.actor != 'dependabot[bot]' }}
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}
          # push: true
          # tags: :latest
          cache-from: type=registry,ref=registry.gitlab.com/flasher/flasher/flasher-frontend:latest
          cache-to: type=inline
          build-args: |
            "NEXT_PUBLIC_APP_URL=https://agravelot.eu"
            "NEXT_PUBLIC_API_URL=https://api.agravelot.eu/api"
            "NEXT_PUBLIC_KEYCLOAK_REALM=jkanda"
            "NEXT_PUBLIC_KEYCLOAK_URL=https://accounts.agravelot.eu/auth"
            "NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=flasher"
            "NEXT_PUBLIC_ADMINISTRATION_URL=https://admin.agravelot.eu"
            "NEXT_PUBLIC_SENTRY_DSN=${{ secrets.NEXT_PUBLIC_SENTRY_DSN }}"
            "NEXT_PUBLIC_SENTRY_ENV=staging"
            "SENTRY_ORG=${{ secrets.SENTRY_ORG }}"
            "SENTRY_PROJECT=${{ secrets.SENTRY_PROJECT }}"
            "SENTRY_AUTH_TOKEN=${{ secrets.SENTRY_AUTH_TOKEN }}"
            "NODE_ENV=production"
      - name: Build and push base production
        if: contains(github.ref, '-rc.') == false
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./apps/frontend/Dockerfile
          push: ${{ github.event_name != 'pull_request' && github.actor != 'dependabot[bot]' }}
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}
          # push: true
          # tags: :latest
          cache-from: type=registry,ref=registry.gitlab.com/flasher/flasher/flasher-frontend:latest
          cache-to: type=inline
          build-args: |
            "NEXT_PUBLIC_APP_URL=${{ secrets.NEXT_PUBLIC_APP_URL }}"
            "NEXT_PUBLIC_API_URL=${{ secrets.NEXT_PUBLIC_API_URL }}"
            "NEXT_PUBLIC_KEYCLOAK_REALM=${{ secrets.NEXT_PUBLIC_KEYCLOAK_REALM }}"
            "NEXT_PUBLIC_KEYCLOAK_URL=${{ secrets.NEXT_PUBLIC_KEYCLOAK_URL }}"
            "NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=${{ secrets.NEXT_PUBLIC_KEYCLOAK_CLIENT_ID }}"
            "NEXT_PUBLIC_ADMINISTRATION_URL=${{ secrets.NEXT_PUBLIC_ADMINISTRATION_URL }}"
            "NEXT_PUBLIC_ALGOLIA_APP_ID=${{ secrets.NEXT_PUBLIC_ALGOLIA_APP_ID }}"
            "NEXT_PUBLIC_ALGOLIA_API_KEY=${{ secrets.NEXT_PUBLIC_ALGOLIA_API_KEY }}"
            "NEXT_PUBLIC_GOOGLE_ANALYTICS_UA=${{ secrets.NEXT_PUBLIC_GOOGLE_ANALYTICS_UA }}"
            "NEXT_PUBLIC_CLARITY_ENABLE=true"
            "NEXT_PUBLIC_CLARITY_ID=${{ secrets.NEXT_PUBLIC_CLARITY_ID }}"
            "NEXT_PUBLIC_SENTRY_DSN=${{ secrets.NEXT_PUBLIC_SENTRY_DSN }}"
            "NEXT_PUBLIC_SENTRY_ENV=production"
            "SENTRY_ORG=${{ secrets.SENTRY_ORG }}"
            "SENTRY_PROJECT=${{ secrets.SENTRY_PROJECT }}"
            "SENTRY_AUTH_TOKEN=${{ secrets.SENTRY_AUTH_TOKEN }}"
