name: keycloak

on:
  push:
    paths:
      - "apps/keycloak/**"
      - ".github/workflows/keycloak.yml"
    branches:
      - "**"
    tags:
      - "v*"
  pull_request:
    paths:
      - "apps/keycloak/**"
      - ".github/workflows/keycloak.yml"

env:
  IMAGE_NAME: keycloak

jobs:
  push:
    runs-on: ubuntu-latest
    if: github.event_name == 'push'

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Gitlab
        if: github.event_name != 'pull_request' && github.actor != 'dependabot[bot]'
        uses: docker/login-action@v2
        with:
          registry: registry.gitlab.com
          username: ${{ secrets.CI_REGISTRY_USER }}
          password: ${{ secrets.CI_REGISTRY_PASSWORD }}
      - name: Docker meta
        id: docker_meta
        uses: crazy-max/ghaction-docker-meta@v4
        with:
          images: registry.gitlab.com/flasher/flasher/keycloak
          tag-semver: |
            {{version}}
            {{major}}.{{minor}}
      - name: Build and push base
        uses: docker/build-push-action@v3
        with:
          context: ./apps/keycloak
          file: ./apps/keycloak/Dockerfile
          push: ${{ github.event_name != 'pull_request' && github.actor != 'dependabot[bot]' }}
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}
          cache-from: type=registry,ref=registry.gitlab.com/flasher/flasher/keycloak:latest
          cache-to: type=inline
